$Dark-Blue-Dark-Mode-Elements: #2b3945;
$Very-Dark-Blue-Dark-Mode-Background: #202c37;
$Very-Dark-Blue-Light-Mode-Text: #111517;
$Dark-Gray-Light-Mode-Input: #858585;
$Very-Light-Gray-Light-Mode-Background: #fafafa;
$White-Dark-Mode-Text-Light-Mode-Elements: #ffffff;
