.SearchResults {
    padding: 4rem 1rem 2rem 1rem;
    width: 80%;
    margin: 0 auto;

    @include media-xl {
        width: 100%;
        padding: 0 5rem;
    }

    .ResultsGrid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 3rem;
        @include media-xl {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 4rem;
        }
    

        a {
            text-decoration: none;
            color: $Very-Dark-Blue-Light-Mode-Text;
            
            .GridItem {
                // height: 200px;
                background: #fff;
                border-radius: .5rem;
                box-shadow: 1px 2px 3px #e9e9e9;
                transition: all .4s ease-in-out;
                height: 100%;
                @include media-xl {
                }

                .Flag {
                    width: 100%;
                    height: 50%;
                    @include media-xl {
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: .5rem .5rem 0 0;
                    }
                }
                .Description {
                    padding: 1.5rem;
                    h3 {
                        margin: 0;
                    }
                    p {
                        b {
                            font-weight: 600;
                        }
                        margin: .3rem 0;
                    }
                }
            }
        }
        
    }
    .LoadMore {
        display: block;
        padding: 1rem 2rem;
        border-radius: 2rem;
        background: 0;
        outline: 0;
        border: 0;
        margin: 1rem auto;
        box-shadow: 2px 3px 3px #999999;
        transition: all .4s ease-in-out;
        &:active {
            box-shadow: 2px 3px 3px #636262;    
        }
        cursor: pointer;
    }
    .DisplayLoadMore {
        opacity: 0;
    }
    .Scroll {
        width: 3rem;
        height: 3rem;
        // text-align: center;
        // padding: 1rem;
        position: fixed;
        right: 1.5rem;
        // top: 0;
        bottom: 1.5rem;
        background: #fff;
        outline: 0;
        border: 0;
        box-shadow: 1px 1px 3px #636262;
        cursor: pointer;
        border-radius: 50%;
        opacity: 0;
        transition: all .4s ease-in-out;
        // background-image: url('../angle_up.svg');
        // background-repeat: no-repeat;
        // background-position: 50%;
        &:active {
            box-shadow: 1px 1px 1px #636262;
        }
        cursor: pointer;
    }

    .displayScroll {
        opacity: 1;
    }
    .Loading {
        opacity: 0;
    }
    .DisplayLoading {
        opacity: 1;
        // position: absolute;
        background: #cacaca11;
        transition: all .4s ease-in-out;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;


        .Box1 {
            width: 3.5rem;
            height: 3.5rem;
            border: 6px solid #e4e2e2;
            border-top: 6px solid #cccccc;
            position: absolute;
            margin: 0 auto;
            border-radius: 50%;
            // z-index: 2;
            animation: spin 3s linear infinite;
        }
        @keyframes spin {
            0% {
             transform: rotate(0deg);
            }
            100% {
             transform: rotate(360deg);
            }
        }         

    }
}