
.SearchSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1.5rem 1rem;
    font-size: 1rem;
    @include media-xl {
        padding: 2.5rem 5rem;
        flex-direction: row;
        justify-content: space-between;
    }

    .SearchBar {
        background: #fff;
        margin: 0 0 2.5rem 0;
        display: flex;
        align-items: center;
        color: #858585;
        padding: 0 2rem;
        box-shadow: 1px 2px 3px #e9e9e9;
        border-radius: .2rem;
        transition: all .4s ease-in-out;

        @include media-xl {
            width: 35%;
            padding: .2rem 2rem;
            margin: 0;
        }   
        
        svg {
            width: 1.1rem;
            height: 1.1rem;
            path {
                stroke: #858585;
                transition: all .4s ease-in-out;
            }
        }
        input {
            border: 0;
            outline: 0;
            padding: 1rem 0 1rem 2rem;
            font-size: .8rem;
            transition: all .4s ease-in-out;
            color: #858585;

            &::placeholder {
                color: #858585;
                transition: all .4s ease-in-out;
            }
        }
    }
    .Filter {
        width: 60%;
        position: relative;
        box-shadow: 1px 2px 3px #e9e9e9;
        transition: all .4s ease-in-out;
        @include media-xl {
            width: 20%;
        }    
        .Select {
            width: 100%;
            height: 2.5rem;
            display: block;
            overflow: hidden;
            cursor: pointer;
            // padding: .8rem 1rem;
            border-radius: .2rem;
            transition: all .4s ease-in-out;
            position: absolute;

            .Head {
                width: 100%;
                height: 2.5rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #fff;
                transition: all .4s ease-in-out;
                // border: 1px solid #f00;
                padding: 0 1.5rem;
                p {
                    font-size: .8rem;
                    transition: all .4s ease-in-out;

                }
                .Icon {
                    svg {
                        path {
                            transition: all .4s ease-in-out;
                        }
                    }
                    .Down {
                        display: block;
                    }
                    .Up {
                        display: none;
                    }
                }
            }

            .Flip {
                .Icon {
                    .Down {
                        display: none;
                    }
                    .Up {
                        display: block;
                    }
                }
            } 

            .List {
                width: 100%;
                background: #fff;
                border-radius: .2rem;
                padding: .7rem 0;
                margin: .5rem 0 0 0;
                transition: all .4s ease-in-out;
                
                p {
                    font-size: .8rem;
                    margin: 0;
                    cursor: pointer;
                    padding: .3rem 1.5rem;
                    transition: all .4s ease-in-out;
                    &:hover {
                        background: $Very-Light-Gray-Light-Mode-Background;
                        color: #0088ff;
                    }
                }
            }
        }
        .Active {
            height: 210px;
        }
   }
}